<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
<footer>
    <span>Company Name</span>
    <span>Company Address</span>
    <span><a href="mailto:example@example.com">office@example.com</a></span>
    <span>+1 (111) 1111-111</span>
</footer>

<style>
    footer {
        position: absolute;
        left: 0;
        bottom: 0;
        background: #555555;
        width: 100%;
        padding: 10px;
        font-family: Verdana;
        font-size: 16px;
        letter-spacing: 1px;
        color: #fff;
    }
    
    footer span {
        display: inline-block;
        min-width: 230px;
        margin: 10px 0 10px 0;
        text-align: center;
    }
    
    footer span a {
        text-decoration: none;
        color: #02b9fc;
        transition: all 0.2s ease-in;
    }
    
    footer span a:hover {
        color: #999;
    }
</style>